@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);

.container-wrap{
    width: 1200px;
}
body{
    align-items: center;
}
/******** MENU *******/
.menu{
    height: 60px;
    width: 100%;
    background-color: rgb(192, 70, 0);
}

.logo {
    margin-left: 30px;
    width: auto;   
}
 
.logo img{
    height: 50px;
    width: auto;
}
.menu nav{
    height: 100%;
    display: flex;
    flex-direction: row; /* Standartinis nustatymas */
    justify-content: space-between;/* space-around; space-evenly*/
    align-items: center;
}
.links{
    margin-right: 25px;
    width: 50%;
}

.links ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.links li{
    list-style-type: none;
}
.links a{
    color: white;
    text-decoration: none;
    font-size: 40px;
    padding: 5px 10px;
}
.links a:hover{
    border-bottom: 3px white solid;
    font-size: 33px;
}
/******** SEKCIJA *******/
.aboutSekcijaFlex img{
    width: 300px;
}