@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);

nav {
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: tomato;
}
.navigacija{
    width: 400px;
    display: flex;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
    color: white;
    margin-top: 20px;
    font-size: 25px;
    height: 30px;
}
.navigacija a:hover{
    border-bottom: 2px solid white;
}
nav img{
    height: 50px;
    width: auto;
    margin-left: 50px;
    margin-top: 10px;
}