@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
html{
    scroll-behavior: smooth;
}
body{
    background-color: white;
}
header{
    background-color: black;
}
header img{
    height: 100px;
}
h1{
    padding: 30px 0;
    margin: 0 auto;
    width: 1000px;
    color: white;
}
.logotipas{
    padding-top: 25px;
    text-align: center;
}
.navi{
    margin: 0 auto;
    width: 1000px;
    padding-top: 25px;
    height: 40px;
    background-color: rgb(177, 177, 8);
}
nav a{
    float: right;
    color: aliceblue;
    text-decoration: none;
    margin-right: 20px;
    line-height: 10px;
}
#about{
    margin: 0 auto;
    width: 1000px;
}
#about h2{
    padding-top: 20px;
}
#about p {
    padding-top: -30px;
}
.buttonDown{
    margin-left: 400px;
    width: 140px;
    height: 30px;
    background-color: red;
    border-radius: 10px;
    border: 0px solid transparent;
}
.buttonDown a{
    color: white;
}
.tablesSekcija{
    height: 420px;
    background-color: rgb(0, 0, 95);
}
.lentele{
    margin: 0 auto;
    border-collapse: collapse;
    width: 1000px;
}
.lentele thead{
    background-color: blue;
}
tr, td, th {
    color: white;
    border: 2px solid red ;
}
.lentele tbody th {
    text-align: right;
    line-height: 30px;
}
.lentele tbody td {
    text-align: center;
}
.lentele tfoot {
    text-align: right;
    background-color: blue;
}
.kontaktuSekcija{
    margin: 0 auto;
    width: 1000px;
}
.kontaktuSekcija p{
    text-align: center;
}
footer{
    font-size: smaller;
    color: white;
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
    height: 40px;
    background-color: rgb(177, 177, 8);
}