@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
.sekcija{
    padding-top: 20px;
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.kontaktuLentele{
    margin: 0 auto;
    width: 1000px;
    height: 650px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.green{
    color: green;
}
.kontaktuLentele h1{
    padding-left: 20px;
    margin-bottom: -50px;
    margin-top: -10px;
}
.formosInput{
    margin-left: 20px;
    width: 95%;
    border: 1px solid black;
    height: 35px;
    padding-left: 10px;
}
.kontaktuLentele label{
    margin-left: 20px;
}
.textoArea {
    height: 50px;
    padding-top: 10px;
}
.knopke{
    background-color: green;
    color: white;
    border: 0px solid transparent;
    margin-left: 20px;
    margin-top: 10px;
    height: 35px;
    width: 50%;
}
table{
    margin: 0 auto;
    border-collapse: collapse;
    width: 95%;
}
table tr, th, td{
    text-align: center;
    border: 1px solid rgb(219, 219, 219);
}