@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);

.sekcija{
    padding-top: 5px;
padding-bottom: 15px;
    width: 100%;
    height: calc(100vh - 105px);
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.apieMus{
    border-radius: 5px;
    margin: 0 auto;
    width: 1000px;
    height: 650px;
    background-color: white;
}
.apieMus img{
    padding: 10px;
    float: left;
    width: 550px;
}
.apieMus p {
    padding: 10px;
}
