nav{
    margin: 0 auto;
    width: 1000px;
    justify-content: space-between;
    display: flex;
}
nav img{
    height: 50px;
}
.navigacija{
    background-color: white;
}
nav a{
    padding-top: 20px;
    color: black;
}
.menu{
    display: flex;
    gap: 40px;
}