body{
    margin: 0;
    background-color: rgb(226, 226, 226);
}
.microsoft{
    height: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.topJuosta{
    display: flex;
    align-items: center;
    justify-content: center;
}
.linkai{
    height: 50px;
    background-color: rgb(1, 156, 1);
    display: flex;
    align-items: center;
    justify-content: center;

}
a{
    padding: 0 70px;
    display: center;
    color: white;
    text-decoration: none;
    font-size: larger;
}
.miskas{
    margin: 0 auto;
    width: 100%;
}
h1{color: white;
    padding: 5px;
    background-color: green;
    margin-left: 15px;
    margin-right: 15px;
}
p{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.kontaktai{
    background-color: rgb(47, 255, 92);
}
.kontaktai > h1{
    margin-top: 20px;
}