body{
    background-color: white;
}
.mainSection {
    padding-top: 50px;
    margin: 0 auto;
    width: 1000px;
    height: calc(100vh - 190px);
    background-color: rgb(183, 183, 221);
}
.box{
    margin: 0 auto;
    width: 800px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
}
.color{
    background-color: rgb(53, 53, 143);
}
.color img{
    width: 150px;
}
.width{
    width: 150px;
}
p{
    margin: 0;
    color: rgb(197, 196, 196);
    font-size: 13px;
    font-weight: lighter;
}
h3{
    color: white;
    margin: 0;
}
.ourSpeakers h1{
    padding-left: 50px;
    padding-top: 40px;
    font-size: 50px;
    font-family:  "Gill Sans", sans-serif;
    color: cadetblue;
}
.ourSpeakers p{
    padding-left: 50px;
    font-family:  "Gill Sans", sans-serif;
    padding-right: 30px;
    color: rgb(223, 223, 223);
}