
.mainBox{
    width: 1000px;
    margin: 0 auto;
    display: flex;
}
.desine{
    width: 800px;
}
.headeris{
    height: 100px;
}
.apacia{
    display: flex;
}
.desineAside{
    width: 150px;
    height: 428px;
}
.article{
    width: 650px;
    height: 328px;
}


.navi{
    width: 150px;
    height: 528px;
    background-color: gray;
}
.headeris{
    background-color: green;
}
.footeri{
    height: 100px;
    background-color: green;
}
.desineAside {
    background-color: hotpink;
}