@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
body{
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.containerwrap{
    margin: 0 auto;
    width: 1000px;
    background-color: rgb(255, 255, 255);
}
.mainPage{
    background-color: rgb(255, 255, 255);
    display: flex;
    gap: 10px;
    justify-content: space-around;
    margin-top: 50px;
    height: calc(100vh - 240px);
}
.containerwrap img{
    height: 200px;
}