body{
    margin: 0;
    height: 200vh;
  }
  
  .modelDezute img{
    width: 200px;
    height: auto;
    background-color: maroon;
  
    /* margin - atitraukimas nuo aplinkinių elementų*/
    /*margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 10px;
    margin-left: 200px;*/
  
    /*margin: 50px 100px 10px 200px;*/
    /*margin: 50px 150px 10px;*/
    /*margin: 30px 150px;*/ /* margin: 0 auto;*/
    margin: 90px;
  
    /*border: 5px solid green;*/
    border-width: 5px;
    /*border-width: 5px 5px 0;*/
    /*border-style: solid;*/
    border-style: solid dotted none;
    border-color: green orange green blue;
    /*border width|style|color irgi gali būti skirstomi į top, right, bottom ir left, bei bendrai aprašomi duodant 4,3,2,1 stilius*/
  
    padding: 30px;
    /*padding irgi gali būti skirstomi į top, right, bottom ir left, bei bendrai aprašomas duodant 4,3,2,1 dydžius*/
  }
  
  .kvadratas{
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-left: 10px;
    background-color: black;
  }
  
  .spalvaSuPavadinimu1{
    background-color: DarkMagenta;
  }
  .spalvaSuPavadinimu2{
    background-color: wheat;
  }
  
  .spalvaPagalRBG1{
    background-color: rgb(184, 114, 137);
  }
  .spalvaPagalRBG2{
    background-color: rgb(0, 0, 255);
  }
  .spalvaPagalRBG3{
    background-color: rgba(255, 0, 0, 0.1);
  }
  .spalvaPagalRBG4{
    background-color: rgba(255, 0, 0, 0.9);
  }
  
  /*pavadinimu 140
    kitais budais 255*255*255*100=1 658 137 500*/
  
  .spalvaPagalHex1{
    background-color: #ff0000;
  }
  .spalvaPagalHex2{
    background-color: #063806;
  }
  .spalvaPagalHex3{
    background-color: #063806a0;
  }
  .spalvaPagalHex4{
    background-color: #06380620;
  }
  
  .spalvaPagalHSL1{
    background-color: hsl(241, 100%, 50%);
  }
  .spalvaPagalHSL2{
    background-color: hsl(241, 100%, 50%, 0.5);
  }
  
  .spalvos{
    background-image: url("./images/image.jpg");
  }